@import url('https://fonts.googleapis.com/css2?family=Roboto');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Sans-Serif';
    -webkit-user-drag: none;
    color: #666;
}

::-webkit-scrollbar{
    width: 5px;
    background: #222;
}

::-webkit-scrollbar-thumb{
    background: #7cc;
}

/* Estilos de la página principal */

header{
    display: inline-block;
    margin-top: 80px;
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
    background: #7cc;
    padding: 50px 0px;
}

nav{
    position: absolute;
    background: #8cc;
    width: 100%;
    display: inline-block;
    padding: 25px 0px;
}
nav form{
    margin: 0px 25px;
    position: relative;
}
nav form *{
    float: right;
}
nav form input[type="text"]{
    border: none;
    height: 40px;
    width: 20%;
    font-size: 18px;
    border-radius: 25px;
    padding: 0px 10px;
}
nav span{
    font-size: 30px;
    margin: 0px 10px;
    cursor: pointer;
}

nav span:hover{
    transform: scale(1.2);
}

nav button{
    border: none;
    background: none;
    padding: 0;
}

header h1{
    font-size: 70px;
    margin-bottom: 15px;
}

header img{
    width: 300px;
    height: 300px;
    border: solid;
    border-radius: 100%;
}

header p{
    width: 50%;
    margin-top: 25px;
}

article{
    display: inline-block;
    width: 100%;
    text-align: center;
}

article h2{
    font-size: 40px;
    margin: 50px 0px;
}

article a{
    text-decoration: none;
}

article section{
    display: inline-table;
    background-size: cover;
    width: 20%;
    height: 200px;
    border-radius: 25px;
    margin: 10px;
    cursor: pointer;
    padding: 10px;
}
article section .content{
    /*-webkit-backdrop-filter: blur(5px);*/
    background: rgba(5, 5, 5, 0.2);
    border-radius: 25px;
    display: table-cell;
    vertical-align: middle;
}

article section *{
    color: #FFF !important;
}

article section .stats{
    display: none;
    background-color: rgba(22, 22, 22, 0.2);
    padding: 15px 0px;
    margin: 10px;
    width: 90%;
}

article section .stats span{
    margin: 0px 10px;
}

article section .stats span:hover{
    transform: scale(1.3);
}

article section:hover{
    box-shadow: 0px 3px 3px 1px #999;
}

article section:hover .stats{
    display: inline-block;
}

article button{
    margin-top: 25px;
}

footer{
    width: 100%;
    display: block;
    background: #222;
    color: #CCC;
    text-align: center;
    padding: 25px 0px;
    margin-top: 150px;
    bottom: 0;
}

footer p{
    color: #CCC;
    font-size: 18px;
}

footer .tecnologies{
    font-size: 35px;
    margin: 0px 10px;
}

footer .tecnologies:hover{
    transform: scale(1.5);
}

button{
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
    padding: 15px;
    background: #8cc;
    font-weight: bold;
}

button:hover{
    transform: scale(1.2);
}

footer button{
    margin-top: 25px;
    background: #111;
}

@media screen and (max-width: 768px){
    nav form input[type="text"]{
        width: 50%;
    }
    header h1{
        font-size: 45px;
    }

    header img{
        width: 150px;
        height: 150px;
    }

    header p{
        width: 90%;
    }

    article section{
        width: 80%;
        margin: 25px 0px;
    }


}

/* Estilos del Panel de Administración */

.login-form{
    margin-bottom: 0;
}

.login-form form{
    display: inline-block;
    width: 70%;
    background: rgba(250, 250, 250, 0.4);
    padding: 25px;
    border-radius: 25px;
}

.login-form label{
    font-size: 25px;
    float: left;
}

.login-form input{
    float: right;
    width: 40%;
    border: none;
    padding: 5px;
    border-radius: 10px;
}

.login-form .login-input{
    margin: 30px 0px;
    padding: 5px;
}

.login-form button{
    margin: 10px;
}

@media screen and (max-width: 640px){
    .login-form .login-input input{
        width: 100%;
    }

    .login-form h1{
        font-size: 30px;
    }

    .login-form .login-input label{
        float: none;
    }
    .login-form .login-input{
        text-align: left;
    }
}

/* Estilos del editor de entradas */

.write-form{
    text-align: center;
}

.write-form header input{
    border: none;
    font-size: 50px;
    text-align: center;
    background: none;
    width: 90%;
    height: auto;
    font-family: 'Roboto', 'Sans-Serif';
}

.main-image{
    width: 100%;
    margin-bottom: 25px;
    margin-top: 5px;
    text-align: center;
}

.main-image img{
    width: 432px;
}

.write-main{
    background: #fff;
    display: inline-block;
    width: 60%;
    margin: 10px;
    padding: 25px;
    border-radius: 25px;
}

.write-main textarea{
    font-size: 18px;
    text-align: justify;
    width: 100%;
    min-height: 640px;
    overflow-y: hidden;
    resize: none;
    border: none;
}

.write-form .info{
    text-align: center;
    position: relative;
    display: inline-block;
    background: #fff;
    border-radius: 25px;
    padding: 25px;
    margin: 10px 15px;
    width: 28%;
    float: right;
}

.write-form .info button{
    margin: 10px 0px;
    width: 80%;
}

.write-form .info textarea{
    resize: none;
    width: 80%;
    height: 200px;
    border: none;
    background: #eee;
    border-radius: 25px;
    padding: 15px;
    font-size: 18px;
    margin: 18px 0px;
}

.write-form .info input{
    margin: 25px 0px;
    margin-left: 10px;
    padding: 5px;
    width: 65%;
    border: none;
    background: #eee;
    border-radius: 25px;
}

.write-form .info label{
    margin-top: 25px;
}

.write-form .info #thumb, .write-form .info #url{
    margin-top: 0;
}

@media screen and (max-width: 1253px){
    .main-image img{
        width: 60%;
    }
    .write-form .write-main{
        width: 80%;
    }
    .write-form .info{
        float: none;
        width: 80%;
    }
}

@media screen and (max-width: 500px) {
    .write-form header input{
        font-size: 30px;
    }
}

/*  Estilo de las entradas */
.entry-content{
    width: 60%;
    padding: 25px;
    background: #fff;
    border-radius: 25px;
    text-align: justify;
    font-size: 20px;
}

.entry-content img{
    width: 80%;
}

.entry-content p{
    margin: 20px 0px;
}

@media screen and (max-width: 768px){
    .entry-content{
        width: 80%;
    }

    .entry-post h1{
        font-size: 30px;
    }
}